@using System.Dynamic;

@{/*
    COMMENTS




    */
    Page.Title="Add";
    // VALIDATE INPUT

    if (IsPost) 
    {
    dynamic emp = new ExpandoObject();
    emp.Company = Request["Company"];
    emp.LastName = Request["LastName"];
    emp.FirstName = Request["FirstName"];
    emp.Email = Request["Email"];
    emp.JobTitle = Request["JobTitle"];
    emp.Mobile = Request["Mobile"];
    emp.Web = Request["Web"];
    emp.Notes = Request["Notes"]; 

    dataAccess.AddEmployee(emp);
    // REDIRECT TO DETAILED VIEW
    Response.Redirect("~/index.cshtml");
    }
    // ADD VALIDATED DATA TO DATABASE




}

@section CSS {
    <!--OPTIONAL SECTION, PAGE SPECIFIC CSS-->
}
@section SectionName {
    <section class="">
        <!--OPTIONAL SECTION-->
    </section>
}
<h2>@Page.Title</h2>

<div>
    <!--PAGE CONTENT-->
    @{ 
        if (IsPost) {
    
               }
               else {
            <form method="post"
                  action="">
                <label for="Company"
                       class="span2">Company: </label>
                <input type="text"
                       class="span3"
                       name="Company"
                       placeholder="Company" />
                <br />
                <label for="LastName"
                       class="span2">Last Name: </label>
                <input type="text"
                       name="LastName"
                       class="span3"
                       placeholder="LastName" />
                <br />
                <label for="FirstName"
                       class="span2">First Name: </label>
                <input type="text"
                       name="FirstName"
                       class="span3"
                       placeholder="FirstName" />
                <br />
                <label for="Email"
                       class="span2">Email: </label>
                <input type="text"
                       name="Email"
                       class="span3"
                       placeholder="Email" />
                <br />
                <label for="JobTitle"
                       class="span2">Job Title: </label>
                <input type="text"
                       name="JobTitle"
                       class="span3"
                       placeholder="JobTitle" />
                <br />
                <label for="Mobile"
                       class="span2">Mobile: </label>
                <input type="text"
                       name="Mobile"
                       class="span3"
                       placeholder="Mobile" />
                <br />
                <label for="Web"
                       class="span2">Web: </label>
                <input type="text"
                       name="Web"
                       class="span3"
                       placeholder="Web" />
                <br />
                <label for="Notes"
                       class="span2">Notes: </label>
                <textarea cols="40"
                          rows="4"
                          class="span3"
                          name="Notes" placeholder="Notes"></textarea>
                <br />
                <br /> <br />
                <input type="submit"
                       value="Submit">
            </form>
        }
    }
</div>
@section Scripts {
    <section class="">
        <!--OPTIONAL SECTION, PAGE SPECIFIC JAVASCRIPT-->
    </section>
}