/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
body{
	background-color:black;
	font-family: Arial;

}
h1 {
	color: Orange;
}
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */

body
{

	background-color:black;
}
h1 {
	
	color: Red;
}
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
h1 {
	color: Red;
}
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1280px) {
/* Styles */
h1 {
	color: #36291d;
	text-transform:capitalize;
	text-decoration: underline;
	letter-spacing:0.2em;
	
}
body
{

	background-color:red;
	font: Arial;
}
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1280px) 
and (orientation : landscape) {
h1 {
	//font-color: #333888;
	text-transform:capitalize;
}
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1280px) 
and (orientation : portrait) {
h1{
	//font-color: #333888;
	//text-transform:capitalize;
}
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1281px) {

body
{

	background-color:#333;
	font-family: Arial;
}
h1 {
	color: #888;
}
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}
body
{
color: #ffffff;
}

.blur {
   color: transparent;
   text-shadow: 0 0 2px rgba(0,0,0,0.5);
}