<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\mclaurendesign.mdb;Persist Security Info=True" providerName="System.Data.OleDb"/>
  </connectionStrings>
	<system.web>
		<compilation debug="true"/>
<customErrors mode="RemoteOnly" defaultRedirect="default.aspx">
           </customErrors>
        <pages>
            <controls>
                <add tagPrefix="uc1" tagName="detailControl" src="~/Controls/detailControl.ascx"/>
            </controls>
            
        </pages>
       
	</system.web>
</configuration>
